@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Quicksand', sans-serif;
  /*colors*/
  --darkGray: #030004;
  --medGray: #BFBFBF;
  --lightGray: #E2E2E2;
  --superLightGray: #FAFAFA;
  --white: #FFFFFF;
  --lightLime: #FCFFB3;
  --lime: #DFF314;
  --pine: #6AB873;
}
@theme inline {
  --background: #ffffff;
  --foreground: #030004;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #030004;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  height: 100%;
}

html {
  height: 100%;
}